.seo-section {
  width: 100% - (var(--left-space) * 2);
  padding: 40px var(--left-space);
  background-color: var(--text-color4);
  margin-top: 40px;
}

.seo-section .seo-content-container {
  display: flex;
  gap: 30px;
}

.seo-section .seo-content-container .left {
  width: 82%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seo-section .seo-content-container .left span {
  font-size: var(--heading-two);
  display: block;
}

.seo-section .seo-content-container .left p {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.seo-section .seo-content-container .left ul li {
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.seo-section .seo-content-container .right {
  height: inherit;
  width: calc(23% - 60px) ;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: var(--border-radius1);
}

.seo-section .seo-content-container .right ul li {
  margin-bottom: 10px;
}

.seo-section .seo-content-container .right ul li a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--main-color);
}

.seo-section .seo-content-container .right ul li a:hover {
  color: var(--primary-color);
}

.seo-section .proposal-btn {
  width: 40%;
  margin-left: 30%;
  margin-top: 50px;
  background-color: var(--primary-color);
  outline: none;
  padding: 12px 24px;
  border-radius: var(--border-radius1);
  color: var(--text-color4);
  border-style: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
}

.seo-section .proposal-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

@media (max-width: 900px) {
  .seo-section {
    margin-top: 10px;
  }

  .seo-section .seo-content-container {
    flex-direction: column;
    display: flex;
    gap: 30px;
  }

  .seo-section .seo-content-container .left {
    width: 100%;
  }

  .seo-section .seo-content-container .right {
    width: calc(100% - 60px);
    align-items: flex-start;
  }

  .seo-section .seo-content-container .right ul li {
    margin-left: 10px;
  }

  .seo-section .proposal-btn {
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
  }
}