.map-for-contact {
  width: 100%;
  border-radius: var(--border-radius2);
  overflow: hidden;
}

.map-for-contact iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive */
@media (max-width: 900px) {
  .map-for-contact {
    height: 250px;
  }
}
