.Servicefeatured {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  background-color: var(--text-color4);
}
.Servicefeatured h1 {
  font-size: var(--heading-one);
  width: fit-content;
}
.Servicefeatured h1 span {
  color: var(--primary-color);
}
.progress-area {
  width: 100%;
  background-color: var(--text-color3);
  height: 5px;
  margin-top: 20px;
}
.progress-area .progress-left {
  width: 70%;
  background-color: var(--main-color);
  height: 5px;
}
.Servicefeatured-bottom {
  width: calc(90% - 100px);
  background-color: #f9f9f9;
  border-radius: var(--border-radius1);
  padding: 50px;
  margin-top: 50px;
}
.Servicefeatured-bottom .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Servicefeatured-bottom .top .left {
  width: 60%;
}
.Servicefeatured-bottom .top .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Servicefeatured-bottom .top .left p {
  font-size: var(--default-p-size);
  margin-bottom: 30px;
}
.Servicefeatured-bottom .top .right h2 {
  width: fit-content;
  font-size: var(--heading-one);
  color: var(--primary-color);
}
.Servicefeatured-bottom .top .right p {
  font-size: var(--default-p-size);
}
@media (max-width: 900px) {
  .Servicefeatured-bottom {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .Servicefeatured-bottom .top {
    flex-direction: column;
  }
  .Servicefeatured-bottom .top .left,
  .Servicefeatured-bottom .top .right {
    width: 100%;
  }
}
