.guestpost-guide {
  width: 100% - (var(--left-space) * 2);
  padding: 40px var(--left-space);
  /* background-color: var(--text-color4); */
}
.guestpost-guide h2 {
  font-size: var(--heading-two);
  text-align: center;
}
.guestpost-guide h2 span {
  color: var(--primary-color);
}
.guestpost-guide .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}
.guestpost-guide .each-card {
  width: calc(300px - 40px);
  min-height: 330px;
  padding: 20px;
  background-color: #d1d3d439;
  border-radius: var(--border-radius1);
}
.guestpost-guide .each-card .card-logo {
  width: 150px;
  margin-bottom: 20px;
}
.guestpost-guide .each-card:first-child {
  width: calc(300px - 40px);
  padding: 20px;
  background-color: #edf9f8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.186);
}
.guestpost-guide .each-card h3 {
  font-size: var(--heading-four);
  margin-bottom: 20px;
}
.guestpost-guide .each-card ul li {
  list-style: none;
  display: flex;
  align-items:flex-start;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: var(--p-line-height);
}
.guestpost-guide .each-card ul li .check-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4efe2;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guestpost-guide .each-card ul li .close-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fcdbdc;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guestpost-guide .each-card ul li .check-icon svg {
  color: #5ec593;
  flex-shrink: 0;
  font-size: 12px;
}
.guestpost-guide .each-card ul li .close-icon svg {
  color: #d6464b;
  flex-shrink: 0;
  font-size: 12px;
}
.digital-monk h3 {
  font-size: var(--heading-two);
  line-height: var(--heading-line-height);
  text-align: center;
}
.digital-monk h3 span {
  color: var(--primary-color);
}
.digital-monk p {
  font-size: var(--heading-two);
  line-height: var(--heading-line-height);
  font-weight: 700;
  width: 800px;
  margin: 20px auto 0;
}
@media (max-width: 900px) {
  .guestpost-guide .each-card {
    min-height: fit-content;
  }
  .guestpost-guide h2 p {
    display: inline;
  }
  .digital-monk p {
    width: 100%;
    margin: 10px auto 0;
  }
}
