.BigIdea {
  width: var(--default-width);
  padding: 50px var(--left-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.BigIdea h2 {
  font-size: var(--heading-two);
  text-align: center;
}
.BigIdea img {
  width: 80%;
}
