.products-grid {
  width: calc(100% - (var(--left-space) * 2));
  padding: 40px var(--left-space);
  background-color: var(--text-color4);
}
.products-grid .products-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 80px;
}
.products-grid .products-card:last-child {
  margin-bottom: 40px;
}

.products-grid .products-card .left {
  width: 30%;
  height: 250px;
}

.products-grid .products-card .left .pro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.products-grid .products-card .right {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products-grid .products-card .right h2 {
  font-size: var(--heading-three);
}
.products-grid .products-card .right .desc {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.products-grid .products-card .right .products-btn {
  border: none;
  padding: 12px 20px;
  background-color: var(--primary-color);
  display: flex;
  align-items: flex-end;
  gap: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  color: var(--text-color4);
  font-size: var(--default-p-size);
  cursor: pointer;
  transition: 0.3s ease;
  width: fit-content;
  -webkit-tap-highlight-color: transparent;
}
.products-grid .products-card .right .products-btn:hover {
  color: var(--text-color);
  background-color: transparent;
}

@media (max-width: 900px) {
  .products-grid {
    padding: 20px var(--left-space);
  }
  .products-grid .products-card {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .products-grid .products-card .left {
    width: 100%;
    height: 220px;
  }
  .products-grid .products-card .left .img-container {
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
    border: 9px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .products-grid .products-card .left .img-container img {
    width: 60px;
  }
  .products-grid .products-card .right {
    width: 100%;
    gap: 10px;
  }
  .products-grid .products-card .right {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .products-grid .products-card .right .products-btn {
    padding: 8px 16px;
    gap: 10px;
    font-size: 12px;
  }
}
