.faq-container {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--left-space);
  background-color: var(--text-color4);
  gap: 40px;
  width: 80%;
  border-radius: var(--border-radius1);
  justify-self: center;
}
.faq-left {
  width: 40%;
}
.faq-left .faq-heading {
  font-size: var(--heading-two);
  margin-bottom: 10px;
  text-align: left;
}
.faq-left p {
  font-size: var(--default-p-size);
  margin-bottom: 20px;
  line-height: var(--p-line-height);
}
.faq-buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.faq-buttons button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius1);
  font-size: var(--default-p-size);
  -webkit-tap-highlight-color: transparent;
}

.faq-buttons button:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--text-color4);
}
.faq-buttons span {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--main-color);
  cursor: pointer;
  transition: 0.2s ease;
}
.faq-buttons span:hover {
  color: rgb(109, 106, 106);
}
.faq-left img {
  height: 300px;
  width: auto;
  display: flex;
  justify-self: center;
  margin-top: 20px;
}
.faq-right {
  width: 45%;
}
.faq-item {
  border-top: 1px solid #ccc;
  padding: 26px 0;
}
.faq-item:first-child {
  border-top: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.faq-answer {
  margin-top: 10px;
  font-size: var(--default-p-size);
  color: var(--text-color2);
  line-height: var(--p-line-height);
}
.faq-item:last-child {
  border-bottom: 1px solid #ccc;
}

@media (max-width: 900px) {
  .faq-container {
    flex-direction: column;
    width: var(--default-width);
  }
  .faq-left {
    width: 100%;
  }
  .faq-left img {
    display: none;
  }
  .faq-right {
    width: 100%;
  }
}
