.testimonial-container {
  padding: 50px var(--left-space);
  border-radius: 12px;
  width: var(--default-width);
}

.testimonial-quote {
  font-size: var(--heading-three);
  font-weight: 600;
  max-width: 100%;
  margin-bottom: 30px;
  text-align: justify;
}

.testimonial-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial-user .user-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-name {
  font-weight: bold;
}

.user-position {
  font-size: 13px;
  color: #777;
}

.testimonial-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}
.testimonial-controls .optbtns {
  background-color: var(--main-color);
  color: var(--text-color4);
  width: 52px;
  height: 32px;
  border-radius: var(--border-radius1);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  transition: 0.2s ease;
  user-select: none;
}
.testimonial-controls .optbtns:hover {
  background-color: rgb(244, 240, 240);
  color: var(--main-color);
}
.optbtns.inactive {
  cursor: not-allowed;

  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

@media (max-width: 900px) {
  .testimonial-quote {
    text-align: center;
    width: 100%;
    margin: 0%;
  }
  .testimonial-container {
    padding: 50px var(--left-space);
    border-radius: 12px;
    width: var(--default-width);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial-bottom {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
}
