.globally-trusted {
  width: 100%;
  height: 400px;
  background-color: var(--text-color4);
}
.globally-trusted .content-parent {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.globally-trusted .content-parent h2 {
  font-size: var(--heading-two);
  text-align: center;
}
.globally-trusted .content-parent h2 span {
  color: var(--primary-color);
}
.globally-trusted .content-parent p {
  text-align: center;
}
.globally-trusted .content-parent .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.globally-trusted .content-parent .content-container strong {
  font-size: var(--heading-two);
  display: block;
  font-weight: bold;
}
.globally-trusted .content-parent .content-container .line-img {
  width: 300px;
}
.globally-trusted .content-parent .content-container .review-container {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius2);
}
.globally-trusted .content-parent .content-container .review-container .left {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color4);
  height: 80px;
  padding: 0 10px;
  border-radius: var(--border-radius2);
}

.globally-trusted .content-parent .content-container .review-container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color4);
  border-radius: var(--border-radius2);
  padding: 0 30px;
}
.globally-trusted
  .content-parent
  .content-container
  .review-container
  .right
  .google-icon {
  width: 80px;
}
@media (max-width: 900px) {
  .globally-trusted {
    height: 350px;
    background-size: contain !important;
  }
}
