.Featured {
  width: calc(100% - var(--left-space) * 2);
  padding: 0px var(--left-space);
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  min-height: 600px;
  background-color: var(--text-color4);
}
.Featured .left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.trusted {
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.trusted .trusted-p {
  width: 35%;
  color: var(--text-color);
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.trusted .personarea {
  width: 65%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trusted .personarea span {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 78px;
  font-weight: 600;
  color: var(--primary-color);
}
.trusted-circle {
  width: 70px;
  height: 70px;
  margin-right: -10px;
  border: 2px solid grey;
  border-radius: 50%;
  background-image: url("/person.png");
  background-size: cover;
  background-position: center;
}
.Featured .left h1 {
  font-size: var(--heading-one);
  color: var(--text-color);
  margin: 30px 0;
}
.Featured .left .desc {
  font-size: var(--default-p-size);
  color: var(--text-color3);
  line-height: var(--p-line-height);
}
.Featured .left .desc:last-of-type {
  margin-bottom: 30px;
  margin-top: 10px;
}

.Featured .left .buttons-area {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
}
.Featured .left .buttons-area p {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: var(--default-p-size);
  transition: 0.3s ease;
  cursor: pointer;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.Featured .left .buttons-area p:hover {
  color: rgb(109, 106, 106);
}
.Featured .left .buttons-area button {
  border: none;
  padding: 12px 20px;
  background-color: var(--text-color);
  display: flex;
  align-items: flex-end;
  gap: 50px;
  border: 1px solid var(--text-color);
  border-radius: 25px;
  color: var(--text-color4);
  font-size: var(--default-p-size);
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
.Featured .left .buttons-area button:hover {
  color: var(--text-color);
  background-color: transparent;
}
.Featured .right {
  width: 45%;
  padding-top: 35px;
}

.Featured .right .top {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.Featured .right .top .left {
  width: 49%;
  height: 255px;
  border-radius: var(--border-radius2);
  border-bottom-right-radius: var(--border-radius1);
  border-top-left-radius: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("/top.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Featured .right .top .left .up-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--text-color);
  margin-right: 40px;
  margin-top: -33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: var(--primary-color);
}
.Featured .right .top .right {
  width: calc(49% - 40px);
  height: 225px;
  border-radius: var(--border-radius1);
  background-color: var(--background2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Featured .right .bottom {
  height: 220px;
  width: calc(100% - 40px);
  padding: 0 20px;
  margin-top: 20px;
  border-radius: var(--border-radius1);
  background-image: url("/drive-card-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Featured .right .bottom .left {
  height: 255px;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Featured .right .bottom .left p {
  width: 95%;
  display: flex;
  color: var(--text-color4);
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.Featured .right .bottom .left p:last-child {
  font-size: var(--heading-three);
}
.Featured .right .bottom .left p hr {
  width: 20%;
  height: 1px;
  background-color: var(--text-color4);
}
.Featured .right .bottom .right {
  height: 255px;
  width: 35%;
  display: flex;
  gap: 3%;
  align-items: flex-end;
}
.Featured .right .bottom .right .item1 {
  height: 120px;
  width: 30%;
  background-color: var(--primary-color);
}
.Featured .right .bottom .right .item2 {
  height: 150px;
  width: 30%;
  background-color: var(--primary-color);
}
.Featured .right .bottom .right .item3 {
  height: 180px;
  width: 30%;
  background-color: var(--primary-color);
}
.progress-area {
  width: 100%;
  background-color: var(--text-color3);
  height: 5px;
  margin-top: 20px;
}
.progress-area .progress-left {
  width: 70%;
  background-color: var(--main-color);
  height: 5px;
}
.Featured .right .top .right p {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.Featured .right .top .right p:first-child {
  font-size: 78px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .Featured .left h1 {
    font-size: var(--heading-two);
  }
}
@media (max-width: 900px) {
  .Featured {
    flex-direction: column;
    margin-top: 80px;
  }
  .Featured .right {
    width: 100%;
    padding-top: 0;
  }
  .Featured .left {
    width: 100%;
  }
  .Featured .left h1 {
    margin: 10px 0;
  }
  .Featured .left .desc:last-of-type {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .Featured .left .buttons-area {
    gap: 10px;
    margin: 10px 0;
  }
  .Featured .left .buttons-area button {
    padding: 8px 16px;
    gap: 10px;
    font-size: 12px;
  }
  .Featured .left .buttons-area p {
    font-size: 12px;
  }

  .trusted {
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
  }

  .trusted .trusted-p {
    width: 100%;
  }
  .trusted .personarea {
    justify-content: flex-start;
  }
  .trusted .personarea span {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
  }
  .Featured .right .top .left {
    width: 49%;
    height: 140px;
  }
  .Featured .right .top .left .up-icon {
    height: 50px;
    width: 50px;
    margin-top: -20px;
    font-size: 20px;
  }
  .Featured .right .top .right {
    height: 120px;
    padding: 10px;
    width: 41%;
  }
  .Featured .right .top .right p {
    text-align: center;
    font-size: 12px;
  }

  .Featured .right .top .right p:first-child {
    font-size: 18px;
    font-weight: 600;
  }
  .progress-area {
    width: 94%;
    margin: auto;
    height: 3px;
    margin-top: 10px;
  }
  .progress-area .progress-left {
    height: 3px;
  }
  .Featured .right .bottom {
    height: 140px;
    width: 100%;
    padding: 0;
    align-items: center;
    margin-top: 10px;
  }
  .Featured .right .bottom .left {
    height: 120px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .Featured .right .bottom .left p {
    width: var(--default-width);
    display: flex;
    color: var(--text-color4);
    align-items: center;
    gap: 10px;
    font-size: 12px;
  }
  .Featured .right .bottom .left p:last-child {
    font-size: 12px;
  }
  .Featured .right .bottom .left p hr {
    display: none;
  }
  .Featured .right .bottom .right {
    height: 185px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .Featured .right .bottom .right .item1 {
    height: 110px;
  }
  .Featured .right .bottom .right .item2 {
    height: 130px;
  }
  .Featured .right .bottom .right .item3 {
    height: 150px;
  }

  .trusted-circle {
    width: 36px;
    height: 36px;
  }
}
