.cards-areaforstyle {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
background-color: white;
padding: 50px 5%;
padding-bottom: 0px;}

.card-wrapper {
  /* flex: 0 0 32%; 3 per row */
  width: 32%;
  min-width: 350px;
  position: relative; /* so absolute children stay within this slot */
  height: 320px;
}

.cardstyle {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
 padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 0;
  border-radius: var(--border-radius1);
  box-shadow: var(--default-box-shadow2);
}
.cardstyle h2{
color:black
}
.cardstyle h3{
color:rgb(0, 116, 205)
}
.cardstyle p{
color:rgb(29, 29, 29)
}
/* Expanded card overlays its row */
.cardstyle.active {
  position: absolute;
  top: 0;
  height: 600px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

/* If it's a last row card, expand upwards instead of downwards */
.cardstyle.active.last-row {
  top: auto;      /* reset */
  bottom: 0;      /* expand upwards */
}
.cardstyle-btn{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
    width: 100%;
     border-radius: var(--border-radius2);
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     border: 1px solid black;
    
}
.cardstyle-btn:hover{
    background-color: black;
    color: white;
    padding: 10px 0px;
    width: 100%;
     border-radius: var(--border-radius2);
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
}
.cardstyle-btn span{
    line-height: 1;
}
@media (max-width: 900px) {
    .card-wrapper {
  /* flex: 0 0 32%; 3 per row */
  width: 32%;
  min-width: 350px;
  position: relative; /* so absolute children stay within this slot */
  height: fit-content;
}
}