.Portfolio-card-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding:50px 5%;
  padding-bottom: 0px;
  gap: 30px;
  scrollbar-width: none;
  margin-bottom: 50px;
  background-color: var(--text-color4);
  justify-content: center;
}
.Portfolio-card-area .Portfolio-card-div {
  height: 300px;
  padding: 20px;
  width: calc(100% - 40px);
  background-color: var(  --background2);
  display: flex;
  align-items: center;
gap: 20px;
border-radius: var(--border-radius1);
box-shadow: var(--default-box-shadow2);
}

.Portfolio-card-area .Portfolio-card-div .project-thumbnail {
 width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius1);

}
.visit-project-btn{
  background-color: black;
  color: white;
  border-radius: var( --border-radius1);
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.Project-mid{
  height: 100%;
  width: 50%;
}
.Project-mid p{
  color: black;
 
}
.Project-mid p:first-child{
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}
.portfolio-btn-area{
width:20%;
display: flex;
justify-content: center;
}