.Portfolio-card-area {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 50px;
  overflow-x: scroll;
  gap: 20px;
  scrollbar-width: none;
  margin-bottom: 50px;
  background-color: white;
  justify-content: center;

}
.Portfolio-card-area .Portfolio-card-div {
  height: 370px;
  width:  calc(33% - 20px);
  background-image: url("/how-we-Portfolio-card.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}
/* .Portfolio-card-area .Portfolio-card-div:hover {
  border-radius: 50%;
}
.Portfolio-card-area .Portfolio-card-div .detail-btn {
  display: none;
}
.Portfolio-card-area .Portfolio-card-div:hover .detail-btn {
  display: block;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
    

} */
.Portfolio-card-area .Portfolio-card-div .Portfolio-card-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Portfolio-card-area .Portfolio-card-div .Portfolio-card-overlay p{
display: flex;
align-items: center;
width: 90%;
gap: 5px;
color: var(--text-color4);
margin-top: 20px;
margin-bottom: 20px;
}
.Portfolio-card-area .Portfolio-card-div .Portfolio-card-overlay p span {
width: 10%;
height: 2px;
background-color: var(--text-color4);
}
.Portfolio-card-area .Portfolio-card-div:hover .Portfolio-card-overlay p {
  display: none;
}
.Portfolio-card-area .Portfolio-card-div:hover .Portfolio-card-overlay {
justify-content: center;
}