.eachcard {
  min-width: calc((100% - 24px) / 2);
  flex-shrink: 0;
  height: 370px;
  position: relative;
  border-radius: var(--border-radius1);
  overflow: hidden;
}

/* black gradient overlay (bottom → top) */
.eachcard::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 0;
}
/* icon background overlay */
.eachcard .icon-wrapper {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.1); /* semi-transparent black */
    backdrop-filter: blur(6px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.3s ease;
}
.eachcard .icon-wrapper:hover svg {
    transform: scale(1.1);
}
/* icon */
.eachcard svg {
  
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  color: var(--text-color4);
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

/* hover effect */
.eachcard svg:hover {
  transform: scale(1.06);
}

/* title text */
.eachcard h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 48px;
  color: var(--text-color4);
  font-weight: 700;
  z-index: 2;
}

/* Mobile */
@media (max-width: 900px) {
  .eachcard {
    min-width: 100%;
    height: 220px;
  }

  .eachcard svg {
    width: 45px;
    height: 45px;
  }

  .eachcard h3 {
    font-size: 24px;
  }
}
