.rw-popup-parent {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rw-popup {
  width: calc(60% - 20px);
  margin: 0 auto;
  background-color: var(--text-color4);
  padding: 10px;
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}
.rw-popup-parent .rw-popup .close-icon {
  color: var(--primary-color);
  font-size: 28px;
  cursor: pointer;
  position: sticky;
  top: 0;
}
/* Top */
.rw-popup .top {
  width: calc(80% - 120px);
  padding: 60px;
  margin: 0 auto;
  border: 2px solid gainsboro;
  max-height: 200px;
}

.rw-popup .top img {
  width: 100%;
  height:100%;
  max-height: 180px;
  object-fit: cover;
  object-position: center;
}

/* Bottom */
.rw-popup .bottom {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.rw-popup .bottom h2 {
  font-size: var(--heading-three);
  display: block;
  text-align: left;
}
.rw-popup .bottom p {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.rw-popup .bottom ul li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.rw-popup .bottom .proposal-btn {
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  background-color: var(--primary-color);
  outline: none;
  padding: 12px 24px;
  border-radius: var(--border-radius1);
  color: var(--text-color4);
  border-style: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
}
.rw-popup .bottom .proposal-btn span {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.rw-popup .bottom .proposal-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}
@media (max-width: 900px) {
  .rw-popup {
    width: calc(95% - 20px);
    margin: 0 auto;
  }
  .rw-popup .top {
    width: calc(90% - 10%);
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .rw-popup .top img {
    width: 60%;
  }

  /* bottom */
  .rw-popup .bottom {
    width: calc(100% - 20px);
    padding: 10px;
  }
  .rw-popup .bottom h2 span {
    font-size: var(--heading-two);
    display: inline;
    text-align: left;
  }
  .rw-popup .bottom .proposal-btn {
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
  }
}
