.why-us-section {
  padding: 50px 0px;
  position: relative;
}

.why-us-section .blog-header {
  width: var(--default-width);
  padding: 0px var(--left-space);
  margin: 0 auto 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.why-us-section .blog-header .header-left2 {
  width: 57%;
}
.why-us-section .blog-header .header-left2 h2 {
  font-size: var(--heading-two);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
  max-width: 500px;
}

.why-us-section .blog-header .header-right2 p {
  color: #555;
  font-size: var(--default-p-size);
   line-height: var(--p-line-height);
}
.why-us-section .blog-header .header-right2 {
  padding: 10px 0;
  width: 40%;
}

.why-us-section .blog-header .header-right2 .see-more {
  background: transparent;
  border: 1px solid var(--main-color);
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--default-p-size);
  margin-top: 15px;
  transition: 0.3s ease;
  z-index: 10;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.why-us-section .blog-header .header-right2 .see-more:hover {
  background-color: var(--main-color);
  color: var(--text-color4);
}

.whyus-area {
  display: flex;
  width: var(--default-width);
  margin-left: var(--left-space);
  justify-content: center;
}
.why-usleft {
  width: 50%;
  position: relative;
}

.why-usright {
  width: 50%;
  padding-top: 100px;
  position: relative;
}
.why-usright img {
  width: var(--default-width);
  height: auto;
  position: absolute;
  top: -110px;
  right: 0px;
}
.why-usleft img {
  width: var(--default-width);
  height: auto;
  position: absolute;
  bottom: -110px;
  left: -10px;
}
.why-usleft .outer-area1 .card {
  background: var(--text-color4);
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
  padding: 0 40px 20px 40px;
}

.why-usright .outer-area1 .card {
  background: var(--text-color4);
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
  padding: 0 40px 20px 40px;
}

.whyus-area .why-usleft .outer-area1 .card .icon-area {
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(201, 201, 201);
  margin-top: -50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--text-color4);
  font-size: 42px;
  padding-bottom: 10px;
}
.whyus-area .why-usleft .outer-area1:last-child .card .icon-area {
  background-color: #182e63;
}

.whyus-area .why-usright .outer-area1 .card .icon-area {
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-top: -50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--text-color4);
  font-size: 42px;
  padding-bottom: 10px;
}
.whyus-area .why-usright .outer-area1:last-child .card .icon-area {
  background-color: var(--text-color3);
}

.why-usleft .outer-area1 {
  border: 5px solid rgb(201, 201, 201);
  width: fit-content;
  padding: 30px;
  border-radius: var(--border-radius1);
  width: 60%;
  position: relative;
  right: -4px;
  z-index: 3;
}
.why-usright .outer-area1 {
  border: 5px solid var(--primary-color);
  width: fit-content;
  padding: 30px;
  border-radius: var(--border-radius1);
  width: 60%;
  position: relative;

  z-index: 2;
}
.why-usleft .outer-area1:last-child {
  border: 5px solid #182e63;
  width: fit-content;
  padding: 30px;
  border-radius: var(--border-radius1);
  width: 60%;
  display: flex;
  justify-self: flex-end;
  position: relative;
  top: -4px;
}
.why-usright .outer-area1:last-child {
  border: 5px solid var(--text-color3);
  width: fit-content;
  padding: 30px;
  border-radius: var(--border-radius1);
  width: 60%;
  width: 60%;
  display: flex;
  justify-self: flex-end;
  position: relative;
  top: -4px;
}
.card-body {
  padding: 1rem;
}

.card h3 {
  margin-top: 0.5rem;
  font-size: var(--heading-four);
  margin-bottom: 10px;
}

.card p {
  font-size: var(--default-p-size);
   line-height: var(--p-line-height);
  color: #555;
}

@media (max-width: 900px) {
  .why-us-section .blog-header {
    flex-direction: column;
  }
  .why-us-section .blog-header .header-left2 {
    width: 100%;
  }
  .why-us-section .blog-header .header-left2 h2 {
    max-width: 100%;
  }

  .why-us-section .blog-header .header-right2 {
    padding: 0;
    width: 100%;
  }
  .why-us-section .blog-header .header-right2 button {
    margin-top: 0px;
  }
  /* ////////////////////////// */
  .whyus-area {
    flex-direction: column;
    align-items: center;
  }
  .why-usleft {
    width: var(--default-width);
  }

  .why-usright {
    width: var(--default-width);
    padding-top: 0px;
  }
  .why-usleft img {
    top: 0;
  }

  .why-usright img {
    bottom: 0;
    top: auto;
  }
  .why-usleft .outer-area1 .card {
    padding: 10px;
  }

  .why-usright .outer-area1 .card {
    padding: 10px;
  }
  .why-usright .outer-area1 {
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    justify-self: center;
  }
  .why-usright .outer-area1:last-child {
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    justify-self: center;
  }
  .why-usleft .outer-area1 {
    width: calc(100% - 30px);
    padding: 15px;
    justify-self: center;
  }
  .why-usleft .outer-area1:last-child {
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    justify-self: center;
  }
}
