.job-description {
  width: calc(100% - 50px);
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  line-height: 1.6;
}

.job-section {
  margin-bottom: 25px;
}
.job-desc-content h2{
margin: 30px 0 10px;
}