.about-hero {
  width: 100% - (var(--left-space) * 2);
  padding: 40px var(--left-space);
  background-color: var(--text-color4);
  display: flex;
  gap: 100px;
  margin-top:100px;
}
.about-hero .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid gainsboro;
  padding-right: 100px;
}
.about-hero .left h1 {
  font-size: var(--heading-two);
}
.about-hero .left p {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.about-hero .left .work-btn {
  width: fit-content;
  background-color: var(--primary-color);
  outline: none;
  padding: 12px 24px;
  border-radius: var(--border-radius2);
  color: var(--text-color4);
  border-style: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid var(--primary-color);
  -webkit-tap-highlight-color: transparent;
}
.about-hero .left .work-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}
.about-hero .right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about-hero .right .box {
  height: 180px;
  width: 180px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  transition: 0.3s ease;
}
.about-hero .right .box:hover {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--text-color4);
}
.about-hero .right .box:hover strong{
  transform: scale(1.06);
}
.about-hero .right .box:hover span{
  transform: scale(1.06);
}
.about-hero .right .box strong {
  font-size: var(--heading-two);
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}
.about-hero .right .box p span {
  text-align: center;
  display: block;
   transition: 0.3s ease;
}
@media (max-width: 900px) {
  .about-hero {
    padding: 20px var(--left-space);
    flex-direction: column;
    gap: 20px;
  }
  .about-hero .left {
    width: 100%;
    gap: 15px;
    border-right: none;
    padding-right: 0px;
  }
  .about-hero .right {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .about-hero .right .box {
    height: 120px;
    width:40%;
  }
}
