.seventh-section {
  width: 100% - (var(--left-space) * 2);
  padding: 40px var(--left-space);
  background-color: var(--text-color4);
  position: relative;
}
.seventh-section .watermark {
  position: absolute;
  top: 40px;
  right: 0;
  width: 190px;
}
.seventh-section h2 {
  font-size: var(--heading-two);
  margin-bottom: 30px;
  text-align: center;
  width: 70%;
  margin: 0 auto 20px;
}
.seventh-section .bottom-content {
  display: flex;
  gap: 40px;
}
.seventh-section .bottom-content .left {
  width: 50%;
}
.seventh-section .bottom-content .right {
  width: 50%;
}
.seventh-section .bottom-content .left p,
.seventh-section .bottom-content .right p {
  margin-bottom: 10px;
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.seventh-section .proposal-btn {
  width: 40%;
  margin-left: 30%;
  margin-top: 50px;
  background-color: var(--primary-color);
  outline: none;
  padding: 12px 24px;
  border-radius: var(--border-radius1);
  color: var(--text-color4);
  border-style: none;
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
}
.seventh-section .proposal-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

@media (max-width: 900px) {
  .seventh-section .watermark {
    opacity: 0.3;
  }
  .seventh-section h2 {
    width: 100%;
  }
  .seventh-section .bottom-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .seventh-section .bottom-content .left {
    width: 100%;
  }
  .seventh-section .bottom-content .right {
    width: 100%;
  }
  .seo-section .proposal-btn {
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
  }
}
