.video-section {
  width: calc(100% - (var(--left-space) * 2));
  padding: 40px var(--left-space);
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: var(--text-color4);
}

/* background image */
.video-section .smoke-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  opacity: 0.2;
  z-index: -1;
}
.video-section h2 {
  font-size: var(--heading-two);
  color: var(--primary-color);
  margin-bottom: 10px;
}
.video-section .thumbnail-container {
  width: 100%;
  height: 500px;
  margin: 40px 0;
  border-radius: var(--border-radius2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* Overlay */
.video-section .thumbnail-container::before {
  content: "";
  position: absolute;
  inset: 0; /* covers the whole container */
  background: rgba(0, 0, 0, 0.2); /* black overlay with 50% opacity */
  border-radius: var(--border-radius2);
  z-index: 1;
}
.video-section .play-icon {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  color: #ff0000;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.thumbnail-text {
  position: absolute;
  right: 20%;
  bottom: 30%;
  color: var(--text-color4);
  font-weight: 100;
  font-size: var(--heading-one);
  z-index: 2;
  width: 100px;
}

@media (max-width: 900px) {
  .video-section {
    padding: 20px var(--left-space);
  }
  .video-section .thumbnail-container {
    margin: 20px 0;
    height: 200px;
  }
  .video-section iframe {
    height: 200px;
  }
  .video-section .play-icon {
    width: 60px;
    height: 60px;
  }
  .thumbnail-text {
    position: absolute;
    right: 2%;
    bottom: 20%;
  }
}
