.drive-revenue {
  width: 100% - (var(--left-space) * 2);
  padding: 40px var(--left-space);
  background-color: var(--text-color4);
}

.drive-revenue h2 {
  font-size: var(--heading-two);
  text-align: left;
}

.drive-revenue h2 p span {
  color: var(--primary-color);
}

.drive-revenue .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.drive-revenue .each-card {
  width: calc(28% - 40px);
  padding: 20px;
  background-color: var(--text-color4);
  transition: 0.3s ease;
}

.drive-revenue .each-card .card-logo {
  width: 120px;
  margin-bottom: 20px;
}

.drive-revenue .each-card:hover {
  width: calc(28% - 40px);
  padding: 20px;
  background-color: #edf9f8;
  border-radius: var(--border-radius1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.186);
}

.drive-revenue .each-card h3 {
  font-size: var(--heading-four);
  margin-bottom: 20px;
}

.drive-revenue .each-card ul li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.drive-revenue .each-card ul li .check-icon {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4efe2;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drive-revenue .each-card ul li .close-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fcdbdc;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drive-revenue .each-card ul li .check-icon svg {
  color: #5ec593;
  flex-shrink: 0;
  font-size: 12px;
}

.drive-revenue .each-card ul li .close-icon svg {
  color: #d6464b;
  flex-shrink: 0;
  font-size: 12px;
}

@media (max-width: 900px) {
  .drive-revenue h2 p {
    display: inline;
  }
  .drive-revenue .each-card {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .drive-revenue .card-list {
    gap: 10px;
    padding: 20px 0;
  }
}
