.designing-page-grid {
  width: var(--default-width);
  background-color: var(--text-color4);
  padding: 50px var(--left-space);
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.designing-page-grid .rightimage {
  width: 40%;
  position: absolute;
  height: auto;
  right: 0;
}
.designing-page-grid .leftimage {
  width: 40%;
  height: auto;
  position: absolute;
  left: 0;
}
.designing-card {
  width: calc(30% - 60px);
  min-height: 320px;
  min-width: 300px;
  background-color: #f9f9f9;
  border-radius: var(--border-radius1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 30px 0;
  border: 1px solid gainsboro;
  transition: 0.3s ease;
}
.designing-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.37);
  background-color: var(--text-color4);
}
.designing-page-grid .designing-card h3 {
  font-size: var(--heading-four);
  margin-top: 20px;
}
.designing-card ul {
  width: calc(100% - 40px);
  padding:10px 20px ;
}
.designing-card ul li {
  font-size: var(--default-p-size);
  line-height: 1.8;
  color: #868686;
}
.icon-area-for-des {
  background-color: var(--main-color);
  height: 70px;
  width: 70px;
  position: absolute;
  top: -40px;
  left: 50px;
  border-radius: var(--border-radius2);
  box-shadow: 0px 10px 30px #1a404877;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-area-for-des img {
  width: 70%;
}
.designing-card-btn {
  background-color: transparent;
  color: var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 40px;
  border-radius: var(--border-radius2);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease;
}
.designing-card-btn:hover {
  background-color: var(--main-color);
  color: var(--text-color4);
  border: 2px solid var(--main-color);
}
@media (max-width: 900px) {
  .designing-page-grid {
    padding: 20px var(--left-space);
    gap: 0px;
  }
  .designing-card {
    width: calc(33% - 20px);
    min-height: 300px;
    min-width: calc(100% - 20px);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .designing-page-grid .designing-card h3 {
    margin-top: 30px;
  }
  .designing-card-btn {
    width: 80%;
    margin:0 auto;
    gap: 10px;
    height: 30px;
    font-size: 12px;
  }
}
