.blog-cards-container {
  width: calc(100% - (var(--left-space) * 2));
  padding: 20px var(--left-space);
  background-color: var(--text-color4);
}
.blog-cards-container .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 50px 0;
}
.blog-cards-container .header .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 5px;
}

.right label {
  font-weight: 500;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 120px; /* adjust width as needed */
}

.sort-select {
  width: 100%;
  padding: 8px;
  border: 2px solid gainsboro;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  appearance: none; /* hides default arrow */
}

.select-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
}

.blog-cards-container .header .left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-cards-container .header .left svg.scroll-btn {
  font-size: 24px;
  flex-shrink: 0;
  cursor: pointer;
  color: black;
  transition: opacity 0.3s ease;
  user-select: none;
}
.blog-cards-container .header .left svg:hover {
  color: #524949;
}

.blog-cards-container .header .left svg.scroll-btn.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.blog-cards-container .header .left ul {
  list-style: none;
  display: flex;
  gap: 20px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.blog-cards-container .header .left ul::-webkit-scrollbar {
  display: none;
}
.blog-cards-container .header .left ul li {
  cursor: pointer;
  color: var(--text-color3);
  width: fit-content;
  white-space: nowrap;
  padding: 10px 24px;
  border-radius: var(--border-radius);
}
.blog-cards-container .header .left ul li.active {
  color: var(--primary-color);
  background-color: #f2f4f7;
}
.blog-cards-container .header .left ul li:hover {
  color: var(--primary-color);
  background-color: #f2f4f7;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  user-select: none;
}
.blog-post-card {
  max-width: 350px;
  overflow: hidden;
  cursor: pointer;
  background: var(--text-color4);
  border: 1px solid rgba(220, 220, 220, 0.334);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--main-color);
}
.blog-post-card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.212);
}
.blog-post-card .post-image {
  width: 100%;
  height: 200px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.03);
}
.blog-post-card .post-content {
  padding: 10px;
}
.blog-post-card .post-title {
  font-size: 18px;
  margin: 20px 0;
}
.blog-post-card .date {
  font-size: 14px;
  margin-top: 20px;
  color: var(--text-color3);
}
@media (max-width: 1320px) {
  .blog-cards-container .header h2 span {
    display: inline;
    font-size: var(--heading-three);
  }
}

@media (max-width: 900px) {
  .blog-cards-container .header {
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 50px 0;
  }
  .blog-cards-container .header .right {
    width: 100%;
  }
  .blog-cards-container .header .left {
    width: 100%;
  }
  .blog-cards-container .header .left h2 span {
    display: inline;
  }

  .blog-post-card .post-image {
    width: 100%;
    height: 220px;
  }
  .blog-post-card {
  max-width: 100%;
  width: 100%;
}
}
