.comment-container {
  width: calc(100% - 10%);
  display: flex;
  justify-content: space-between;
  padding: 40px 5%;
  background: var(--text-color4);
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
}

.comment-form input,
.comment-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-form textarea {
  height: 80px;
  resize: none;
}

.comment-form button {
  padding: 12px 24px;
  background: var(--primary-color);
  color: var(--text-color4);
  border: none;
  border-radius: 5px;
  font-size: var(--default-p-size);
  cursor: pointer;
  transition: 0.3s;
}

.comment-form button:hover {
  opacity: 0.9;
}

/* Display comment list */
.comment-list {
  width: 48%;
}
.comment-area-list {
  width: 96%;
  height: 230px;
  padding: 3%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: #f4f4f4;
}

.comment-list h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Individual comment */
.comment {
  background: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-left: 4px solid var(--primary-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comment p {
  font-size: 14px;
  margin: 2px 0;
}

.comment small {
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

/* No comments message */
.no-comments {
  color: #777;
  font-style: italic;
  text-align: center;
}
.error-message {
  display: block;
  margin-top: 3px;
  margin-bottom: 5px;
  color: red;
  font-size: 10px;
}
@media (max-width: 900px) {
  .comment-container {
    width: calc(100% - 10%);
    flex-direction: column;
    padding: 20px 5%;
    gap: 20px;
  }

  .comment-form {
    width: 100%;
  }
  .comment-list {
    width: 100%;
  }
}
