.sub-service-first {
  height: fit-content;
  width: (100% - 10%);
  padding: 40px 5%;
  display: flex;
  gap: 20px;
  background-color: var(--text-color4);
}

.sub-service-first .left {
  width: 30%;
  max-height: 300px;
}

.sub-service-first .left img {
  width: auto;
  height: 100%;
  display: flex;
  justify-self: center;
}

.sub-service-first .right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-service-first .right .sub-service-title {
  font-size: var(--heading-two);
  text-align: left;
}

.sub-service-first .right .desc {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

@media (max-width: 900px) {
  .sub-service-first {
    flex-direction: column;
    padding: 20px 5%;
  }

  .sub-service-first .left {
    width: 100%;
    height: 200px;
  }

  .sub-service-first .right {
    width: 100%;
    gap: 10px;
  }
}