.sub-service-first {
  width: calc(100% - 10%);
  padding: 40px 5%;
  background-color: var(--text-color4);
 
}

.sub-service-first .sub-first-title {
  font-size: var(--heading-two);
  text-align: left;
  width: 64%;
  margin-left: 36%;
  margin-bottom: 20px;
}

.sub-service-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.sub-service-content .left {
  width: 35%;
  max-height: 420px;
}

.sub-service-content .left img {
  width: 100%;
  height: auto;
  max-height: 420px;
  object-fit: cover;
  border-radius: 10px;
}

.sub-service-content .right {
  width: 65%;
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

/* Responsive */
@media (max-width: 900px) {
  .sub-service-content {
    flex-direction: column;
  }

  .sub-service-content .left,
  .sub-service-content .right {
    width: 100%;
  }

  .sub-service-first .sub-first-title {
    margin-left: 0;
  }
}