.sub-service-fourth {
  width: 100% - (var(--left-space) * 2);
  padding: 40px var(--left-space);
  background-color: #f9f9f9;
}
.sub-service-fourth h2 {
  font-size: var(--heading-two);
  margin-bottom: 10px;
}

.sub-service-fourth .description {
  line-height: var(--p-line-height);
  font-size: var(--default-p-size);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.sub-service-fourth img {
  width: 60%;
  margin-left: 20%;
  margin-top: 40px;
}

@media (max-width: 900px) {
  .sub-service-fourth {
    padding: 20px var(--left-space);
  }
  .sub-service-fourth h2 {
    text-align: left;
  }
  .sub-service-fourth img {
    width: 100%;
    margin: 20px 0;
  }
  .sub-service-fourth .description {
  width: 100%;
  margin: 0;
}
}
