.header-area {
  display: flex;
  align-items: center;
  height: 70px;
  width: var(--default-width);
  margin-left: var(--left-space);
  justify-content: space-between;
  
}

.header-area img {
  height: 30px;
  cursor: pointer;
}
.header-area ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
}
.header-area ul li {
  cursor: pointer;
}
.header-area ul li:hover {
  color: var(--main-color);
}
.header-area button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius1);
}
.header-area button:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--text-color4);
}
.menu-icon {
  display: none;
}
.maindropdown-area {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 3;
}
.maindropdown-area-flex {
  display: flex;
}
.maindropdown-area .left,
.maindropdown-area .right {
  width: 5%;
  height: calc(90vh - 111px);
}
.maindropdown-area .center {
  width: 90%;
  height: calc(90vh - 111px);
  padding-top: 10px;
  margin-top: -10px;
}
@media (max-width: 900px) {
  .header-area ul {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .header-area button {
    display: none;
  }
}
