.full-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blog-detail-thumbnail {
  width: 100%;
  height: auto;
}
.custom-html-styles {
  padding: 0 10px;
  margin-top: 24px;
  color: var(--main-color);
  text-align: justify;
}
.custom-html-styles p {
  margin: 30px 0;
}
.custom-html-styles ul {
  margin: 40px 0;
}
.custom-html-styles ul li {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.custom-html-styles h2 {
  font-size: var(--heading-three);
  margin-top: 20px;
}

.custom-html-styles h3 {
  font-size: 26px;
  margin-top: 20px;
}

.custom-html-styles h4 {
  font-size: 22px;
  margin-top: 20px;
}
.custom-html-styles h5 {
  font-size: 20px;
  margin-top: 20px;
}

.custom-html-styles h2,
.custom-html-styles h3,
.custom-html-styles h4 {
  margin-bottom: 10px;
}
.custom-html-styles img {
  height: 450px;
  width: auto;
  display: flex;
  justify-self: center;
  margin: 20px 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .custom-html-styles img {
    height: auto;
    width: 100%;
    max-height: 300px;
  }
  .custom-html-styles h2 {
    margin-top: 10px;
  }
  .custom-html-styles h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  .custom-html-styles h4 {
    font-size: 16px;
    margin-top: 100px;
  }
  .custom-html-styles h5 {
    font-size: 16px;
    margin-top: 10px;
  }
  .custom-html-styles ul {
    margin: 10px 0;
  }
}
