.full-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blog-detail-thumbnail {
  width: 100%;
  height: auto;
}
.custom-html-styles {
  padding: 0 10px;
  margin-top: 24px;
  color: var(--main-color);
  text-align: justify;
}
.custom-html-styles p {
  margin: 30px 0;
}
.custom-html-styles ul {
  margin: 40px 0;
}
.custom-html-styles ul li {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.custom-html-styles ul li p {
  margin: 0;
}
.custom-html-styles h2 {
  font-size: var(--heading-three);
  margin-top: 20px;
}

.custom-html-styles h3 {
  font-size: 26px;
  margin-top: 20px;
}

.custom-html-styles h4 {
  font-size: 22px;
  margin-top: 20px;
}
.custom-html-styles h5 {
  font-size: 20px;
  margin-top: 20px;
}

.custom-html-styles h2,
.custom-html-styles h3,
.custom-html-styles h4 {
  margin-bottom: 10px;
}
.custom-html-styles img {
  height: auto;
  width: 100%;
  display: flex;
  justify-self: center;
  margin: 20px 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/* Table Styling */
.custom-html-styles table {
  width: 100%;
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  border-collapse: collapse;
  border: 1px solid gainsboro;
}

.custom-html-styles table td p {
  margin: 0;
  font-size: 14px;
}

.custom-html-styles table th {
  padding: 8px 16px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  color: var(--main-color);
}

.custom-html-styles table td {
  padding: 6px 16px;
  font-size: 14px;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid #222;
}

/* Responsive Table */
@media (max-width: 900px) {
  .custom-html-styles img {
    height: auto;
    width: 100%;
    max-height: 300px;
  }
  .custom-html-styles h2 {
    margin-top: 10px;
  }
  .custom-html-styles h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  .custom-html-styles h4 {
    font-size: 16px;
    margin-top: 100px;
  }
  .custom-html-styles h5 {
    font-size: 16px;
    margin-top: 10px;
  }
  .custom-html-styles ul {
    margin: 10px 0;
  }

  /* Mobile Table Styling */
  .custom-html-styles table {
    display: block;
    max-width: 100%;
    margin: 20px 0;
    overflow: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
  }

  .custom-html-styles table th,
  .custom-html-styles table td {
    padding: 6px 12px;
    font-size: 14px;
    min-width: 180px;
  }
}
