.WhyDesign{
    display: flex;
    width: 90%;
    padding: 50px 5%;
    justify-content: space-between;
}
.WhyDesign .left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.WhyDesign img{
    width: 50%;
}
.WhyDesign .left h3{
    font-size: 46px;
}
.WhyDesign .left p{
    font-size: var(--default-p-size);
    color: var(--text-color3) ;
    line-height: 2;
}