.TestimonialSection {
  width: 80%;
  margin-left: var(--left-space);
  background-color: var(--main-color);
  height: fit-content;
  padding: 50px var(--left-space);
  border-radius: var(--border-radius1);
  position: relative;
}
.Testimonial-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
.Testimonial-header h2 {
  width: 55%;
  font-size: var(--heading-two);
  color: var(--text-color4);
}
.Testimonial-header p {
  width: 40%;
  color: var(--text-color4);
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}
.testimonial-icon {
  position: absolute;
  width: 30%;
  z-index: 1;
  right: 100px;
}

@media (max-width: 900px) {
  .Testimonial-header {
    flex-direction: column;
  }
  .Testimonial-header h2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .Testimonial-header p {
    width: 100%;
  }
  .testimonial-icon {
    position: absolute;
    width: 70%;
    z-index: 1;
    right: 10px;
    top: 300px;
    opacity: 0.4;
  }
}
