.Home {
  position: relative;
  width: 100%;
  z-index: 1;
  min-height: 100vh;


}

.Home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/distortion-img.webp');
  background-size: contain;
  background-position: center;
  opacity: 0.06;
  z-index: -1;
}