.latest-blogs {
  width: calc(100% - (var(--left-space) * 2));
  padding: 20px var(--left-space);
  background-color: var(--text-color4);
}

.latest-blogs .latest-heading {
  font-size: var(--heading-two);
  text-align: center;
  padding: 20px 0;
  margin: 40px 0;
  background-color: #f2f2f2;
}

.latest-blogs .latest-blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  user-select: none;
}

.latest-blogs .latest-blog-grid .latest-blog-card {
  display: flex;
  gap: 10px;
  overflow: hidden;
  margin: 20px auto;
  cursor: pointer;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-img img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content {
  padding: 0 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-category {
  width: fit-content;
  display: inline-block;
  background: #4b164c;
  color: var(--text-color4);
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 600;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-title {
  font-size: 18px;
  font-weight: 700;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-description {
  color: #4b5563;
  font-size: var(--default-p-size);
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-meta {
  font-size: 14px;
  color: #9ca3af;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-footer .blog-date {
  font-size: 14px;
  color: #6b7280;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-footer .icons-container {
  display: flex;
  gap: 10px;
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-footer .icons-container a .icon {
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: 14px;
  flex-shrink: 0;
  color: var(--main-color);
}

.latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content .blog-footer .icons-container a .icon:hover {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .latest-blogs .latest-heading {
    margin: 20px 0;
  }

  .latest-blogs .latest-blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .latest-blogs .latest-blog-grid .latest-blog-card {
    flex-direction: column;
  }

  .latest-blogs .latest-blog-grid .latest-blog-card .blog-card-img img {
    width: 100%;
  }

  .latest-blogs .latest-blog-grid .latest-blog-card .blog-card-content {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}