.maindropdown {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--text-color4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.193);
}
.maindropdown .top {
  background-color: rgb(223, 221, 221);
  display: flex;
  gap: 10px;
  padding: 20px;
  width: calc(100% - 40px);
}

.maindropdown .top .dropdown-heading {
  width: 100%;
  font-weight: 600;
  font-size: var(--default-p-size);
}
.maindropdown .bottom {
  display: flex;
  justify-self: center;
  width: 100%;
}
.maindropdown .bottom .left {
  width: calc(40% - 80px);
  height: 100%;
  padding: 10px;
  border-right: 1px solid gainsboro;
}

.maindropdown .bottom .left ul {
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}
.maindropdown .bottom .left ul li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: var(--border-radius2);
}

.maindropdown .bottom .left ul li .offer {
  background: var(--gradient-three);
  padding: 5px;
  color: var(--background);
  margin-right: 5px;
  font-size: var(--default-p-size);
}
.maindropdown .bottom .left ul li:hover {
  background: var(--primary-color);
  color: var(--text-color4);
}

.maindropdown .bottom .mid {
  width: calc(35% - 80px);
  height: 100%;
  padding: 30px 40px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.maindropdown .bottom .mid ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
}

.maindropdown .bottom .right {
  width: 25%;
  height: calc(100% - 40px);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.maindropdown .bottom .right img {
  width: 100%;
  height: 240px
}

.maindropdown .bottom .right .view-all-btn {
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color4);
  border-radius: var(--border-radius1);
  cursor: pointer;
}
.maindropdown .bottom .right .view-all-btn:hover{
  opacity: 0.9;
}

li.active {
  background: var(--gradient-three);
  color: var(--background);
}
