.benefits {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 10%);
  padding: 40px var(--left-space);
  background-color: white;
}

.benefits-left {
  flex: 1;
  padding-right: 40px;
}

.benefits-subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #1d3557;
  margin-bottom: 10px;
}

.benefits-title {
  font-size: 28px;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 20px;
}

.benefits-text {
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
  color: #555;
}

.benefits-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.benefit-card {
  text-align: left;
}

.benefit-icon-container
{
  width: 60px;
  height: 60px;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.benefit-icon-container .benefit-icon
{
  width: 30px;
  height: 30px;

}

.benefit-title {
  font-size: 16px;
  font-weight: bold;
  color: #001833;
  margin-bottom: 10px;
}

.benefit-desc {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

@media(max-width:900px) {
  .benefits {
      width: calc(100% - 10%);
    flex-direction: column;
    padding: 20px var(--left-space);
  }

  .benefits-left, .benefits-right {
    padding: 0;
    width: 100%;
  }

  .benefits-right {
    margin-top: 30px;
    grid-template-columns: 1fr;
      gap: 10px;
  }
  .benefit-icon-container
{
  width: 40px;
  height: 40px;
}
.benefit-icon-container .benefit-icon
{
  width: 20px;
  height: 20px;

}
}